In [198]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

In [199]:
df_preparation = pd.read_csv("csv/df_preparation.csv")

In [200]:
df_preparation.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'floors', 'waterfront', 'view',
       'condition', 'grade', 'sqft_above', 'sqft_basement', 'sqft_living15',
       'quartier', 'is_renovated', 'price'],
      dtype='object')

In [201]:
feature = df_preparation.columns[0:-1]
target = 'price'
X =df_preparation[feature]
y = df_preparation[target]

In [202]:
X

,bedrooms,bathrooms,sqft_living,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,quartier,is_renovated
0,3,1.00,1180,1.0,0,0,3,7,1180,0,1340,0,0
1,3,2.25,2570,2.0,0,0,3,7,2170,400,1690,0,1
2,2,1.00,770,1.0,0,0,3,6,770,0,2720,0,0
3,4,3.00,1960,1.0,0,0,5,7,1050,910,1360,0,0
4,3,2.00,1680,1.0,0,0,3,8,1680,0,1800,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,3,2.50,1530,3.0,0,0,3,8,1530,0,1530,0,0
21593,4,2.50,2310,2.0,0,0,3,8,2310,0,1830,0,0
21594,2,0.75,1020,2.0,0,0,3,7,1020,0,1020,0,0
21595,3,2.50,1600,2.0,0,0,3,8,1600,0,1410,0,0
21596,2,0.75,1020,2.0,0,0,3,7,1020,0,1020,0,0

In [203]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21592    360000.0
21593    400000.0
21594    402101.0
21595    400000.0
21596    325000.0
Name: price, Length: 21597, dtype: float64

# Feature scaling

In [204]:
standarisation = StandardScaler()
X = pd.DataFrame(standarisation.fit_transform(X),columns=X.columns)

# Separation en donnÃ©es d'entrainement et de test

In [206]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = 0.8)

In [207]:
X_train

,bedrooms,bathrooms,sqft_living,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,quartier,is_renovated
3930,-0.402903,1.474933,1.857865,-0.915552,11.467211,4.913681,-0.629986,1.143979,0.175663,3.524790,1.260014,-0.326196,4.757006
8267,-0.402903,-1.451073,-1.329204,-0.915552,-0.087205,-0.305715,-0.629986,-1.413190,-1.121845,-0.659031,-1.235555,-0.326196,-0.210216
15607,-0.402903,0.174486,-0.664777,-0.915552,-0.087205,-0.305715,-0.629986,-0.560800,-0.759413,0.041285,-0.389105,-0.326196,-0.210216
6680,-0.402903,-0.475738,-0.479609,-0.915552,-0.087205,-0.305715,-0.629986,0.291589,-0.711089,0.334965,-0.739360,-0.326196,-0.210216
6999,0.676687,0.824709,0.827460,0.010939,-0.087205,-0.305715,2.444427,0.291589,0.207074,1.328962,1.114074,-0.326196,-0.210216
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,-1.482493,-0.475738,-0.904406,-0.915552,-0.087205,-0.305715,0.907220,-0.560800,-0.650683,-0.659031,-0.447481,3.065644,-0.210216
19648,0.676687,0.499597,-0.272657,0.937431,-0.087205,-0.305715,-0.629986,-0.560800,0.050019,-0.659031,0.501127,-0.326196,-0.210216
9845,-0.402903,-0.475738,-0.675669,0.937431,11.467211,4.913681,0.907220,0.291589,-0.807737,0.109057,-0.024256,-0.326196,-0.210216
10799,-0.402903,-1.451073,-1.046006,-0.915552,-0.087205,-0.305715,0.907220,-0.560800,-0.807737,-0.659031,-0.243165,-0.326196,-0.210216
2732,0.676687,-0.475738,0.282848,-0.915552,-0.087205,-0.305715,-0.629986,0.291589,-0.215764,0.990099,0.705443,-0.326196,-0.210216

# Export en csv

In [208]:
X_train.to_csv('csv/X_train.csv',index=False)
X_test.to_csv('csv/X_test.csv',index=False)
y_train.to_csv('csv/y_train.csv',index=False)
y_test.to_csv('csv/y_test.csv',index=False)