In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [47]:
df_preparation = pd.read_csv("csv/df_preparation.csv")

# Division du dataset en features et target

In [48]:
df_preparation.columns

Index(['bedrooms_4_6', 'bedrooms_7_9', 'bathrooms', 'sqft_living',
       'sqft_living_carre', 'sqft_lot', 'floors', 'waterfront', 'view_1',
       'view_2', 'view_3', 'view_4', 'condition', 'grade', 'sqft_above',
       'sqft_above_carre', 'sqft_basement', 'sqft_basement_carre', 'yr_built',
       'yr_renovated', 'lat', 'long', 'sqft_living15', 'sqft_lot15',
       'quartier', 'is_renovated', 'price'],
      dtype='object')

In [49]:
feature = df_preparation.columns[0:-1]
target = 'price'
X =df_preparation[feature]
y = df_preparation[target]

In [50]:
X

,bedrooms_4_6,bedrooms_7_9,bathrooms,sqft_living,sqft_living_carre,sqft_lot,floors,waterfront,view_1,view_2,...,sqft_basement,sqft_basement_carre,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15,quartier,is_renovated
0,0,0,1.00,1180,1392400,5650,1.0,0,0,0,...,0,0,1955,0,47.5112,-122.257,1340,5650,0,0
1,0,0,2.25,2570,6604900,7242,2.0,0,0,0,...,400,160000,1951,1991,47.7210,-122.319,1690,7639,0,1
2,0,0,1.00,770,592900,10000,1.0,0,0,0,...,0,0,1933,0,47.7379,-122.233,2720,8062,0,0
3,1,0,3.00,1960,3841600,5000,1.0,0,0,0,...,910,828100,1965,0,47.5208,-122.393,1360,5000,0,0
4,0,0,2.00,1680,2822400,8080,1.0,0,0,0,...,0,0,1987,0,47.6168,-122.045,1800,7503,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21591,0,0,2.50,1530,2340900,1131,3.0,0,0,0,...,0,0,2009,0,47.6993,-122.346,1530,1509,0,0
21592,1,0,2.50,2310,5336100,5813,2.0,0,0,0,...,0,0,2014,0,47.5107,-122.362,1830,7200,0,0
21593,0,0,0.75,1020,1040400,1350,2.0,0,0,0,...,0,0,2009,0,47.5944,-122.299,1020,2007,0,0
21594,0,0,2.50,1600,2560000,2388,2.0,0,0,0,...,0,0,2004,0,47.5345,-122.069,1410,1287,0,0
21595,0,0,0.75,1020,1040400,1076,2.0,0,0,0,...,0,0,2008,0,47.5941,-122.299,1020,1357,0,0

In [51]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21591    360000.0
21592    400000.0
21593    402101.0
21594    400000.0
21595    325000.0
Name: price, Length: 21596, dtype: float64

# Separation en données d'entrainement et de test

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, train_size = 0.8)

# Feature scaling

In [53]:
standarisation = StandardScaler()

In [54]:
standarisation.fit(X_train).mean_

array([ 4.06575596e-01,  2.77842093e-03,  2.11963128e+00,  2.08105435e+03,
        5.17382948e+06,  1.50764873e+04,  1.49519565e+00,  7.69854133e-03,
        1.53970827e-02,  4.42231998e-02,  2.39059968e-02,  1.49340125e-02,
        3.40894883e+00,  7.65437601e+00,  1.78952483e+03,  3.89162780e+06,
        2.91529521e+02,  2.79834625e+05,  1.97098431e+03,  8.69921857e+01,
        4.75597612e+01, -1.22214121e+02,  1.98924080e+03,  1.27059977e+04,
        9.60291734e-02,  4.35864784e-02])

In [55]:
standarisation.fit(X_train).scale_

array([4.91194341e-01, 5.26374516e-02, 7.69854305e-01, 9.18173329e+02,
       5.38141266e+06, 4.12019609e+04, 5.40290393e-01, 8.74029393e-02,
       1.23126003e-01, 2.05590633e-01, 1.52756342e-01, 1.21288861e-01,
       6.50652713e-01, 1.17425101e+00, 8.30197974e+02, 4.17029756e+06,
       4.41412691e+02, 6.17430453e+05, 2.94519505e+01, 4.07512554e+02,
       1.39013189e-01, 1.40795249e-01, 6.86317589e+02, 2.61307641e+04,
       2.94631246e-01, 2.04173204e-01])

In [56]:
X_train  = pd.DataFrame(standarisation.fit_transform(X_train),columns=X.columns)
X_test = pd.DataFrame(standarisation.transform(X_test),columns=X.columns)

# Export en csv

In [57]:
X_train.to_csv('csv/X_train.csv',index=False)
X_test.to_csv('csv/X_test.csv',index=False)
y_train.to_csv('csv/y_train.csv',index=False)
y_test.to_csv('csv/y_test.csv',index=False)