In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [51]:
df_preparation = pd.read_csv("csv/df_preparation.csv")

In [52]:
df_preparation.columns

Index(['sqft_living', 'grade', 'sqft_above', 'bathrooms', 'quartier', 'view',
       'sqft_basement', 'bedrooms', 'price'],
      dtype='object')

In [53]:
feature = ['sqft_living', 'grade', 'sqft_above', 'bathrooms', 'quartier', 'view',
       'sqft_basement', 'bedrooms']
target = 'price'
X =df_preparation[feature]
y = df_preparation[target]

In [54]:
X

,sqft_living,grade,sqft_above,bathrooms,quartier,view,sqft_basement,bedrooms
0,1180,7,1180,1.00,0,0,0,3
1,2570,7,2170,2.25,0,0,400,3
2,770,6,770,1.00,0,0,0,2
3,1960,7,1050,3.00,0,0,910,4
4,1680,8,1680,2.00,0,0,0,3
...,...,...,...,...,...,...,...,...
21608,1530,8,1530,2.50,0,0,0,3
21609,2310,8,2310,2.50,0,0,0,4
21610,1020,7,1020,0.75,0,0,0,2
21611,1600,8,1600,2.50,0,0,0,3
21612,1020,7,1020,0.75,0,0,0,2

In [55]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

# Feature scaling

In [56]:
# standarisation = StandardScaler()
# X = pd.DataFrame(standarisation.fit_transform(X),columns=X.columns)

In [57]:
X

,sqft_living,grade,sqft_above,bathrooms,quartier,view,sqft_basement,bedrooms
0,1180,7,1180,1.00,0,0,0,3
1,2570,7,2170,2.25,0,0,400,3
2,770,6,770,1.00,0,0,0,2
3,1960,7,1050,3.00,0,0,910,4
4,1680,8,1680,2.00,0,0,0,3
...,...,...,...,...,...,...,...,...
21608,1530,8,1530,2.50,0,0,0,3
21609,2310,8,2310,2.50,0,0,0,4
21610,1020,7,1020,0.75,0,0,0,2
21611,1600,8,1600,2.50,0,0,0,3
21612,1020,7,1020,0.75,0,0,0,2

# Separation en donnÃ©es d'entrainement et de test

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .8)

In [59]:
X_train

,sqft_living,grade,sqft_above,bathrooms,quartier,view,sqft_basement,bedrooms
5268,1570,7,1070,1.00,0,0,500,3
16909,1780,8,1210,2.50,1,0,570,3
16123,1090,8,1090,1.50,0,0,0,3
12181,2210,8,2210,2.50,0,0,0,4
12617,1800,7,1240,2.50,0,0,560,3
...,...,...,...,...,...,...,...,...
13123,3960,10,3960,5.00,0,0,0,5
19648,1400,8,1160,2.50,0,0,240,2
9845,2360,9,2360,2.25,0,0,0,3
10799,2370,8,2370,2.00,0,0,0,4
2732,2380,7,1540,2.25,0,0,840,4

# Export en csv

In [60]:
X_train.to_csv('csv/X_train.csv',index=False)
X_test.to_csv('csv/X_test.csv',index=False)
y_train.to_csv('csv/y_train.csv',index=False)
y_test.to_csv('csv/y_test.csv',index=False)