In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [62]:
df_preparation = pd.read_csv("csv/df_preparation.csv")

# Division du dataset en features et target

In [63]:
df_preparation.columns

Index(['bedrooms_1', 'bedrooms_10', 'bedrooms_11', 'bedrooms_2', 'bedrooms_3',
       'bedrooms_4', 'bedrooms_5', 'bedrooms_6', 'bedrooms_7', 'bedrooms_8',
       'bedrooms_9', 'bathrooms', 'sqft_living', 'sqft_living_carre',
       'sqft_lot', 'floors', 'view_0', 'view_1', 'view_2', 'view_3', 'view_4',
       'condition', 'grade', 'grade_carre', 'sqft_above', 'sqft_above_carre',
       'sqft_basement', 'sqft_basement_carre', 'quartier', 'is_renovated',
       'price'],
      dtype='object')

In [64]:
feature = df_preparation.columns[0:-1]
target = 'price'
X =df_preparation[feature]
y = df_preparation[target]

In [65]:
X

,bedrooms_1,bedrooms_10,bedrooms_11,bedrooms_2,bedrooms_3,bedrooms_4,bedrooms_5,bedrooms_6,bedrooms_7,bedrooms_8,...,view_4,condition,grade,grade_carre,sqft_above,sqft_above_carre,sqft_basement,sqft_basement_carre,quartier,is_renovated
0,0,0,0,0,1,0,0,0,0,0,...,0,3,7,49,1180,1392400,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,3,7,49,2170,4708900,400,160000,0,1
2,0,0,0,1,0,0,0,0,0,0,...,0,3,6,36,770,592900,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,5,7,49,1050,1102500,910,828100,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,3,8,64,1680,2822400,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21591,0,0,0,0,1,0,0,0,0,0,...,0,3,8,64,1530,2340900,0,0,0,0
21592,0,0,0,0,0,1,0,0,0,0,...,0,3,8,64,2310,5336100,0,0,0,0
21593,0,0,0,1,0,0,0,0,0,0,...,0,3,7,49,1020,1040400,0,0,0,0
21594,0,0,0,0,1,0,0,0,0,0,...,0,3,8,64,1600,2560000,0,0,0,0
21595,0,0,0,1,0,0,0,0,0,0,...,0,3,7,49,1020,1040400,0,0,0,0

In [66]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21591    360000.0
21592    400000.0
21593    402101.0
21594    400000.0
21595    325000.0
Name: price, Length: 21596, dtype: float64

# Feature scaling

In [67]:
standarisation = StandardScaler()
X = pd.DataFrame(standarisation.fit_transform(X),columns=X.columns)

# Separation en données d'entrainement et de test

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, train_size = 0.8)

In [69]:
X_train

,bedrooms_1,bedrooms_10,bedrooms_11,bedrooms_2,bedrooms_3,bedrooms_4,bedrooms_5,bedrooms_6,bedrooms_7,bedrooms_8,...,view_4,condition,grade,grade_carre,sqft_above,sqft_above_carre,sqft_basement,sqft_basement_carre,quartier,is_renovated
15832,-0.095702,-0.011787,-0.006805,2.612401,-0.913522,-0.683899,-0.282966,-0.112941,-0.041984,-0.024542,...,-0.122445,0.907438,-1.413193,-1.252520,-1.218531,-0.790423,-0.658992,-0.440435,-0.326204,-0.210221
15561,-0.095702,-0.011787,-0.006805,-0.382790,-0.913522,1.462204,-0.282966,-0.112941,-0.041984,-0.024542,...,-0.122445,-0.629946,0.291559,0.207505,-0.360778,-0.401553,0.967526,0.371962,-0.326204,-0.210221
466,-0.095702,-0.011787,-0.006805,-0.382790,1.094664,-0.683899,-0.282966,-0.112941,-0.041984,-0.024542,...,-0.122445,-0.629946,-0.560817,-0.574651,-0.372859,-0.408719,-0.658992,-0.440435,-0.326204,-0.210221
1984,-0.095702,-0.011787,-0.006805,-0.382790,-0.913522,-0.683899,-0.282966,8.854211,-0.041984,-0.024542,...,-0.122445,-0.629946,-0.560817,-0.574651,-0.215805,-0.311797,1.645242,1.190002,-0.326204,-0.210221
14650,-0.095702,-0.011787,-0.006805,-0.382790,-0.913522,1.462204,-0.282966,-0.112941,-0.041984,-0.024542,...,-0.122445,0.907438,-0.560817,-0.574651,-0.469507,-0.464310,1.803375,1.421466,-0.326204,-0.210221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,-0.095702,-0.011787,-0.006805,-0.382790,-0.913522,-0.683899,3.533988,-0.112941,-0.041984,-0.024542,...,-0.122445,-0.629946,2.848687,3.179700,5.172334,7.952707,-0.658992,-0.440435,-0.326204,-0.210221
18898,-0.095702,-0.011787,-0.006805,-0.382790,1.094664,-0.683899,-0.282966,-0.112941,-0.041984,-0.024542,...,8.166949,-0.629946,0.291559,0.207505,-0.119157,-0.248099,2.594044,2.809156,-0.326204,4.756891
11798,-0.095702,-0.011787,-0.006805,-0.382790,-0.913522,1.462204,-0.282966,-0.112941,-0.041984,-0.024542,...,-0.122445,-0.629946,0.291559,0.207505,-0.566155,-0.516812,0.199448,-0.214142,-0.326204,-0.210221
6637,-0.095702,-0.011787,-0.006805,-0.382790,-0.913522,1.462204,-0.282966,-0.112941,-0.041984,-0.024542,...,-0.122445,-0.629946,0.291559,0.207505,0.654029,0.372665,-0.658992,-0.440435,-0.326204,-0.210221
2575,-0.095702,-0.011787,-0.006805,-0.382790,-0.913522,1.462204,-0.282966,-0.112941,-0.041984,-0.024542,...,-0.122445,0.907438,-0.560817,-0.574651,-0.614479,-0.541905,1.148250,0.562525,-0.326204,-0.210221

# Export en csv

In [70]:
X_train.to_csv('csv/X_train.csv',index=False)
X_test.to_csv('csv/X_test.csv',index=False)
y_train.to_csv('csv/y_train.csv',index=False)
y_test.to_csv('csv/y_test.csv',index=False)