In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
df_preparation = pd.read_csv("csv/df_preparation.csv")

# Division du dataset en features et target

In [4]:
df_preparation.columns

Index(['bedrooms_4_6', 'bedrooms_7_9', 'bathrooms', 'sqft_living',
       'sqft_living_carre', 'sqft_lot', 'floors', 'view_1', 'view_2', 'view_3',
       'view_4', 'condition', 'grade', 'sqft_above', 'sqft_above_carre',
       'sqft_basement', 'sqft_basement_carre', 'quartier', 'is_renovated',
       'price'],
      dtype='object')

In [5]:
feature = df_preparation.columns[0:-1]
target = 'price'
X =df_preparation[feature]
y = df_preparation[target]

In [6]:
X

,bedrooms_4_6,bedrooms_7_9,bathrooms,sqft_living,sqft_living_carre,sqft_lot,floors,view_1,view_2,view_3,view_4,condition,grade,sqft_above,sqft_above_carre,sqft_basement,sqft_basement_carre,quartier,is_renovated
0,0,0,1.00,1180,1392400,5650,1.0,0,0,0,0,3,7,1180,1392400,0,0,0,0
1,0,0,2.25,2570,6604900,7242,2.0,0,0,0,0,3,7,2170,4708900,400,160000,0,1
2,0,0,1.00,770,592900,10000,1.0,0,0,0,0,3,6,770,592900,0,0,0,0
3,1,0,3.00,1960,3841600,5000,1.0,0,0,0,0,5,7,1050,1102500,910,828100,0,0
4,0,0,2.00,1680,2822400,8080,1.0,0,0,0,0,3,8,1680,2822400,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21591,0,0,2.50,1530,2340900,1131,3.0,0,0,0,0,3,8,1530,2340900,0,0,0,0
21592,1,0,2.50,2310,5336100,5813,2.0,0,0,0,0,3,8,2310,5336100,0,0,0,0
21593,0,0,0.75,1020,1040400,1350,2.0,0,0,0,0,3,7,1020,1040400,0,0,0,0
21594,0,0,2.50,1600,2560000,2388,2.0,0,0,0,0,3,8,1600,2560000,0,0,0,0
21595,0,0,0.75,1020,1040400,1076,2.0,0,0,0,0,3,7,1020,1040400,0,0,0,0

In [7]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21591    360000.0
21592    400000.0
21593    402101.0
21594    400000.0
21595    325000.0
Name: price, Length: 21596, dtype: float64

# Separation en données d'entrainement et de test

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, train_size = 0.8)

# Feature scaling

In [9]:
standarisation = StandardScaler()

In [10]:
standarisation.fit(X_train).mean_

array([4.06575596e-01, 2.77842093e-03, 2.11963128e+00, 2.08105435e+03,
       5.17382948e+06, 1.50764873e+04, 1.49519565e+00, 1.53970827e-02,
       4.42231998e-02, 2.39059968e-02, 1.49340125e-02, 3.40894883e+00,
       7.65437601e+00, 1.78952483e+03, 3.89162780e+06, 2.91529521e+02,
       2.79834625e+05, 9.60291734e-02, 4.35864784e-02])

In [11]:
standarisation.fit(X_train).scale_

array([4.91194341e-01, 5.26374516e-02, 7.69854305e-01, 9.18173329e+02,
       5.38141266e+06, 4.12019609e+04, 5.40290393e-01, 1.23126003e-01,
       2.05590633e-01, 1.52756342e-01, 1.21288861e-01, 6.50652713e-01,
       1.17425101e+00, 8.30197974e+02, 4.17029756e+06, 4.41412691e+02,
       6.17430453e+05, 2.94631246e-01, 2.04173204e-01])

In [12]:
X_train  = pd.DataFrame(standarisation.fit_transform(X_train),columns=X.columns)
X_test = pd.DataFrame(standarisation.transform(X_test),columns=X.columns)

In [13]:
X_train

,bedrooms_4_6,bedrooms_7_9,bathrooms,sqft_living,sqft_living_carre,sqft_lot,floors,view_1,view_2,view_3,view_4,condition,grade,sqft_above,sqft_above_carre,sqft_basement,sqft_basement_carre,quartier,is_renovated
0,-0.827729,-0.052784,-1.454342,-1.417003,-0.848370,-0.165174,-0.916536,-0.125051,-0.215103,-0.156498,-0.123128,0.908397,-1.408878,-1.216005,-0.787289,-0.660447,-0.453225,-0.32593,-0.213478
1,1.208125,-0.052784,0.494079,0.140437,-0.053839,-0.160465,-0.916536,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,0.294336,-0.360787,-0.400817,0.970680,0.386384,-0.32593,-0.213478
2,-0.827729,-0.052784,-0.480131,-0.654620,-0.554395,-0.211555,-0.916536,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,-0.557271,-0.372833,-0.407939,-0.660447,-0.453225,-0.32593,-0.213478
3,1.208125,-0.052784,1.143552,0.597867,0.323906,-0.152335,-0.916536,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,-0.557271,-0.216243,-0.311615,1.650316,1.231824,-0.32593,-0.213478
4,1.208125,-0.052784,0.169342,0.445390,0.190707,-0.105735,-0.916536,7.996710,-0.215103,-0.156498,-0.123128,0.908397,-0.557271,-0.469195,-0.463187,1.808898,1.471041,-0.32593,-0.213478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17271,1.208125,-0.052784,3.091973,4.344436,5.885271,-0.008385,0.934320,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,2.849156,5.155969,7.901900,-0.660447,-0.453225,-0.32593,-0.213478
17272,-0.827729,-0.052784,0.818816,1.142427,0.859081,0.108090,-0.916536,-0.125051,-0.215103,-0.156498,8.121653,-0.628521,0.294336,-0.119881,-0.248310,2.601807,2.905210,-0.32593,4.684324
17273,1.208125,-0.052784,-0.480131,-0.415014,-0.424392,-0.117628,-0.916536,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,0.294336,-0.565558,-0.515366,0.200426,-0.219352,-0.32593,-0.213478
17274,1.208125,-0.052784,0.169342,0.271131,0.047398,-0.147626,0.934320,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,0.294336,0.651020,0.368624,-0.660447,-0.453225,-0.32593,-0.213478
17275,1.208125,-0.052784,0.169342,-0.001148,-0.157473,-0.183256,-0.916536,-0.125051,-0.215103,-0.156498,-0.123128,0.908397,-0.557271,-0.613739,-0.540304,1.151916,0.583329,-0.32593,-0.213478

In [14]:
X_test

,bedrooms_4_6,bedrooms_7_9,bathrooms,sqft_living,sqft_living_carre,sqft_lot,floors,view_1,view_2,view_3,view_4,condition,grade,sqft_above,sqft_above_carre,sqft_basement,sqft_basement_carre,quartier,is_renovated
0,1.208125,-0.052784,0.494079,-0.273428,-0.339117,-0.229710,0.934320,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,-0.557271,0.048754,-0.130141,-0.660447,-0.453225,-0.325930,-0.213478
1,-0.827729,-0.052784,0.169342,-0.916008,-0.675702,-0.342884,2.785177,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,0.294336,-0.661920,-0.564475,-0.660447,-0.453225,-0.325930,-0.213478
2,1.208125,-0.052784,-0.480131,-0.055604,-0.195660,-0.187527,-0.916536,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,0.294336,0.289660,0.054977,-0.660447,-0.453225,-0.325930,-0.213478
3,1.208125,-0.052784,0.818816,1.240447,0.965280,-0.259320,0.008892,-0.125051,-0.215103,-0.156498,-0.123128,0.908397,1.145942,0.638974,0.357474,1.378462,0.858664,3.068143,-0.213478
4,-0.827729,-0.052784,0.494079,0.347370,0.108925,1.991689,0.934320,-0.125051,-0.215103,-0.156498,-0.123128,2.445316,0.294336,0.735337,0.448019,-0.660447,-0.453225,-0.325930,-0.213478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,-0.827729,-0.052784,0.494079,0.390935,0.144901,-0.254587,0.934320,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,0.294336,0.783518,0.494442,-0.660447,-0.453225,-0.325930,-0.213478
4316,-0.827729,-0.052784,-1.454342,-0.992247,-0.707050,-0.285095,0.934320,-0.125051,-0.215103,-0.156498,-0.123128,0.908397,-1.408878,-0.746237,-0.604928,-0.660447,-0.453225,-0.325930,-0.213478
4317,1.208125,-0.052784,-0.480131,-0.578381,-0.514982,0.849899,-0.916536,-0.125051,-0.215103,6.389875,-0.123128,0.908397,-1.408878,-0.288515,-0.357080,-0.660447,-0.453225,-0.325930,-0.213478
4318,1.208125,-0.052784,-0.480131,-0.632837,-0.543320,-0.084377,-0.916536,-0.125051,-0.215103,-0.156498,-0.123128,0.908397,-0.557271,-0.951008,-0.693386,0.472280,-0.048321,-0.325930,-0.213478
4319,-0.827729,-0.052784,-1.454342,-0.937791,-0.684844,-0.119084,-0.916536,-0.125051,-0.215103,-0.156498,-0.123128,-0.628521,-0.557271,-0.975099,-0.702882,-0.116738,-0.359935,-0.325930,-0.213478

# Export en csv

In [15]:
X_train.to_csv('csv/X_train.csv',index=False)
X_test.to_csv('csv/X_test.csv',index=False)
y_train.to_csv('csv/y_train.csv',index=False)
y_test.to_csv('csv/y_test.csv',index=False)