In [399]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [400]:
df_preparation = pd.read_csv("csv/df_preparation.csv")

In [401]:
df_preparation.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'lat', 'long', 'sqft_living15',
       'sqft_lot15', 'quartier', 'is_renovated', 'price'],
      dtype='object')

In [402]:
feature = df_preparation.columns[0:-1]
target = 'price'
X =df_preparation[feature]
y = df_preparation[target]

In [403]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,lat,long,sqft_living15,sqft_lot15,quartier,is_renovated
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,47.5112,-122.257,1340,5650,0,0
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,47.7210,-122.319,1690,7639,0,1
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,47.7379,-122.233,2720,8062,0,0
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,47.5208,-122.393,1360,5000,0,0
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,47.6168,-122.045,1800,7503,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21591,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,47.6993,-122.346,1530,1509,0,0
21592,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,47.5107,-122.362,1830,7200,0,0
21593,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,47.5944,-122.299,1020,2007,0,0
21594,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,47.5345,-122.069,1410,1287,0,0
21595,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,47.5941,-122.299,1020,1357,0,0

In [404]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21591    360000.0
21592    400000.0
21593    402101.0
21594    400000.0
21595    325000.0
Name: price, Length: 21596, dtype: float64

# Feature scaling

In [405]:
standarisation = StandardScaler()
X = pd.DataFrame(standarisation.fit_transform(X),columns=X.columns)

# Separation en donnÃ©es d'entrainement et de test

In [406]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = 0.8)

In [407]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,lat,long,sqft_living15,sqft_lot15,quartier,is_renovated
6882,0.694809,0.499567,0.740286,-0.230264,0.937385,-0.087207,-0.305723,-0.629946,-0.560817,1.173513,-0.658992,1.021257,-0.567937,0.177493,0.997276,-0.261515,-0.326204,-0.210221
7019,-0.411272,0.824672,0.936343,-0.063093,0.937385,-0.087207,-0.305723,-0.629946,1.996311,1.390972,-0.658992,0.885086,0.200744,1.712442,1.639409,-0.070456,-0.326204,-0.210221
5938,-0.411272,0.174461,-0.692019,-0.325839,0.937385,-0.087207,-0.305723,-0.629946,-0.560817,-0.590317,-0.331429,1.089343,-0.182514,1.008924,-0.841561,-0.420638,-0.326204,-0.210221
98,-0.411272,-0.475751,-0.294459,0.644736,-0.915591,-0.087207,-0.305723,2.444822,-0.560817,-0.699046,0.696440,0.306358,-1.076782,1.819036,-0.491306,4.483230,-0.326204,-0.210221
21300,-1.517353,0.499567,-0.436056,-0.341027,2.790361,-0.087207,-0.305723,-0.629946,1.143935,-0.131238,-0.658992,1.293600,0.519043,-1.044781,-0.447524,-0.431968,-0.326204,-0.210221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,-1.517353,-0.475751,-0.904414,-0.194888,-0.915591,-0.087207,-0.305723,0.907438,-0.560817,-0.650722,-0.658992,0.510615,0.963651,0.198812,-0.447524,-0.157241,3.065565,-0.210221
19648,-0.411272,0.174461,-1.178894,-0.344239,0.937385,-0.087207,-0.305723,-0.629946,-0.560817,-1.196785,-0.207181,1.225514,0.997574,-1.087419,-1.442831,-0.427091,-0.326204,-0.210221
9845,-0.411272,-0.475751,-0.675681,-0.065990,0.937385,11.466944,4.913564,0.907438,0.291559,-0.807776,0.109086,-0.034070,-1.652751,-1.144268,-0.024300,0.224912,-0.326204,-0.210221
10799,-0.411272,-1.451069,-1.046011,-0.166612,-0.915591,-0.087207,-0.305723,0.907438,-0.560817,-0.807776,-0.658992,-1.123439,1.193173,-0.540238,-0.243209,-0.203622,-0.326204,-0.210221
2732,0.694809,-0.475751,0.282820,-0.144879,-0.915591,-0.087207,-0.305723,-0.629946,0.291559,-0.215805,0.990116,0.136144,0.577506,0.753099,0.705397,-0.064480,-0.326204,-0.210221

# Export en csv

In [408]:
X_train.to_csv('csv/X_train.csv',index=False)
X_test.to_csv('csv/X_test.csv',index=False)
y_train.to_csv('csv/y_train.csv',index=False)
y_test.to_csv('csv/y_test.csv',index=False)