In [248]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [249]:
df_preparation = pd.read_csv("csv/df_preparation.csv")

# Division du dataset en features et target

In [250]:
df_preparation.columns

Index(['bedrooms_4_6', 'bedrooms_7_9', 'bathrooms', 'sqft_living',
       'sqft_living_carre', 'sqft_lot', 'floors', 'view_1', 'view_2', 'view_3',
       'view_4', 'condition', 'grade', 'sqft_above', 'sqft_above_carre',
       'sqft_basement', 'sqft_basement_carre', 'quartier', 'is_renovated',
       'price'],
      dtype='object')

In [251]:
feature = df_preparation.columns[0:-1]
target = 'price'
X =df_preparation[feature]
y = df_preparation[target]

In [252]:
X

,bedrooms_4_6,bedrooms_7_9,bathrooms,sqft_living,sqft_living_carre,sqft_lot,floors,view_1,view_2,view_3,view_4,condition,grade,sqft_above,sqft_above_carre,sqft_basement,sqft_basement_carre,quartier,is_renovated
0,0,0,1.00,1180,1392400,5650,1.0,0,0,0,0,3,7,1180,1392400,0,0,0,0
1,0,0,2.25,2570,6604900,7242,2.0,0,0,0,0,3,7,2170,4708900,400,160000,0,1
2,0,0,1.00,770,592900,10000,1.0,0,0,0,0,3,6,770,592900,0,0,0,0
3,1,0,3.00,1960,3841600,5000,1.0,0,0,0,0,5,7,1050,1102500,910,828100,0,0
4,0,0,2.00,1680,2822400,8080,1.0,0,0,0,0,3,8,1680,2822400,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21591,0,0,2.50,1530,2340900,1131,3.0,0,0,0,0,3,8,1530,2340900,0,0,0,0
21592,1,0,2.50,2310,5336100,5813,2.0,0,0,0,0,3,8,2310,5336100,0,0,0,0
21593,0,0,0.75,1020,1040400,1350,2.0,0,0,0,0,3,7,1020,1040400,0,0,0,0
21594,0,0,2.50,1600,2560000,2388,2.0,0,0,0,0,3,8,1600,2560000,0,0,0,0
21595,0,0,0.75,1020,1040400,1076,2.0,0,0,0,0,3,7,1020,1040400,0,0,0,0

In [253]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21591    360000.0
21592    400000.0
21593    402101.0
21594    400000.0
21595    325000.0
Name: price, Length: 21596, dtype: float64

# Feature scaling

In [254]:
standarisation = StandardScaler()

In [255]:
standarisation.fit(X).mean_

array([4.05399148e-01, 2.63937766e-03, 2.11584321e+00, 2.08034317e+03,
       5.17073673e+06, 1.50998301e+04, 1.49411928e+00, 1.53732173e-02,
       4.44989813e-02, 2.36154843e-02, 1.47712539e-02, 3.40975181e+00,
       7.65794592e+00, 1.78863151e+03, 3.88436294e+06, 2.91711660e+02,
       2.81046626e+05, 9.61752176e-02, 4.23226523e-02])

In [256]:
standarisation.fit(X).scale_

array([4.90969122e-01, 5.13070302e-02, 7.68980267e-01, 9.18100781e+02,
       5.40639459e+06, 4.14125906e+04, 5.39672317e-01, 1.23032034e-01,
       2.06200926e-01, 1.51847928e-01, 1.20636081e-01, 6.50455632e-01,
       1.17319112e+00, 8.27744086e+02, 4.14456809e+06, 4.42663454e+02,
       6.38111100e+05, 2.94831384e-01, 2.01324230e-01])

In [257]:
X = pd.DataFrame(standarisation.fit_transform(X),columns=X.columns)

# Separation en données d'entrainement et de test

In [258]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, train_size = 0.8)

In [259]:
X_train

,bedrooms_4_6,bedrooms_7_9,bathrooms,sqft_living,sqft_living_carre,sqft_lot,floors,view_1,view_2,view_3,view_4,condition,grade,sqft_above,sqft_above_carre,sqft_basement,sqft_basement_carre,quartier,is_renovated
15832,-0.825712,-0.051443,-1.451069,-1.416340,-0.843878,-0.164897,-0.915591,-0.124953,-0.215804,-0.155521,-0.122445,0.907438,-1.413193,-1.218531,-0.790423,-0.658992,-0.440435,-0.326204,-0.210221
15561,1.211076,-0.051443,0.499567,0.141223,-0.053018,-0.160213,-0.915591,-0.124953,-0.215804,-0.155521,-0.122445,-0.629946,0.291559,-0.360778,-0.401553,0.967526,0.371962,-0.326204,-0.210221
466,-0.825712,-0.051443,-0.475751,-0.653897,-0.551261,-0.211043,-0.915591,-0.124953,-0.215804,-0.155521,-0.122445,-0.629946,-0.560817,-0.372859,-0.408719,-0.658992,-0.440435,-0.326204,-0.210221
1984,1.211076,-0.051443,1.149778,0.598689,0.322981,-0.152124,-0.915591,-0.124953,-0.215804,-0.155521,-0.122445,-0.629946,-0.560817,-0.215805,-0.311797,1.645242,1.190002,-0.326204,-0.210221
14650,1.211076,-0.051443,0.174461,0.446200,0.190397,-0.105761,-0.915591,8.003011,-0.215804,-0.155521,-0.122445,0.907438,-0.560817,-0.469507,-0.464310,1.803375,1.421466,-0.326204,-0.210221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,1.211076,-0.051443,3.100413,4.345554,5.858648,-0.008906,0.937385,-0.124953,-0.215804,-0.155521,-0.122445,-0.629946,2.848687,5.172334,7.952707,-0.658992,-0.440435,-0.326204,-0.210221
18898,-0.825712,-0.051443,0.824672,1.143292,0.855684,0.106976,-0.915591,-0.124953,-0.215804,-0.155521,8.166949,-0.629946,0.291559,-0.119157,-0.248099,2.594044,2.809156,-0.326204,4.756891
11798,1.211076,-0.051443,-0.475751,-0.414272,-0.421859,-0.117593,-0.915591,-0.124953,-0.215804,-0.155521,-0.122445,-0.629946,0.291559,-0.566155,-0.516812,0.199448,-0.214142,-0.326204,-0.210221
6637,1.211076,-0.051443,0.174461,0.271927,0.047751,-0.147439,0.937385,-0.124953,-0.215804,-0.155521,-0.122445,-0.629946,0.291559,0.654029,0.372665,-0.658992,-0.440435,-0.326204,-0.210221
2575,1.211076,-0.051443,0.174461,-0.000374,-0.156174,-0.182887,-0.915591,-0.124953,-0.215804,-0.155521,-0.122445,0.907438,-0.560817,-0.614479,-0.541905,1.148250,0.562525,-0.326204,-0.210221

# Export en csv

In [260]:
X_train.to_csv('csv/X_train.csv',index=False)
X_test.to_csv('csv/X_test.csv',index=False)
y_train.to_csv('csv/y_train.csv',index=False)
y_test.to_csv('csv/y_test.csv',index=False)