In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [62]:
df_preparation = pd.read_csv("csv/df_preparation.csv")

In [63]:
df_preparation.columns

Index(['Unnamed: 0', 'sqft_living', 'grade', 'sqft_above', 'sqft_living15',
       'bathrooms', 'quartier', 'view', 'sqft_basement', 'bedrooms', 'price'],
      dtype='object')

In [64]:
feature = [ 'sqft_living', 'grade', 'sqft_above', 'sqft_living15',
       'bathrooms', 'quartier', 'view', 'sqft_basement', 'bedrooms']
target = 'price'
X =df_preparation[feature]
y = df_preparation[target]

In [65]:
X

,sqft_living,grade,sqft_above,sqft_living15,bathrooms,quartier,view,sqft_basement,bedrooms
0,1180,7,1180,1340,1.00,0,0,0,3
1,2570,7,2170,1690,2.25,0,0,400,3
2,770,6,770,2720,1.00,0,0,0,2
3,1960,7,1050,1360,3.00,0,0,910,4
4,1680,8,1680,1800,2.00,0,0,0,3
...,...,...,...,...,...,...,...,...,...
21608,1530,8,1530,1530,2.50,0,0,0,3
21609,2310,8,2310,1830,2.50,0,0,0,4
21610,1020,7,1020,1020,0.75,0,0,0,2
21611,1600,8,1600,1410,2.50,0,0,0,3
21612,1020,7,1020,1020,0.75,0,0,0,2

In [66]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

# Feature scaling

In [67]:
standarisation = StandardScaler()
X = pd.DataFrame(standarisation.fit_transform(X),columns=X.columns)

In [68]:
X

,sqft_living,grade,sqft_above,sqft_living15,bathrooms,quartier,view,sqft_basement,bedrooms
0,-0.979835,-0.558836,-0.734708,-0.943355,-1.447464,-0.305775,-0.305759,-0.658681,-0.398737
1,0.533634,-0.558836,0.460841,-0.432686,0.175607,-0.305775,-0.305759,0.245141,-0.398737
2,-1.426254,-1.409587,-1.229834,1.070140,-1.447464,-0.305775,-0.305759,-0.658681,-1.473959
3,-0.130550,-0.558836,-0.891699,-0.914174,1.149449,-0.305775,-0.305759,1.397515,0.676485
4,-0.435422,0.291916,-0.130895,-0.272190,-0.149007,-0.305775,-0.305759,-0.658681,-0.398737
...,...,...,...,...,...,...,...,...,...
21608,-0.598746,0.291916,-0.312039,-0.666135,0.500221,-0.305775,-0.305759,-0.658681,-0.398737
21609,0.250539,0.291916,0.629908,-0.228419,0.500221,-0.305775,-0.305759,-0.658681,0.676485
21610,-1.154047,-0.558836,-0.927928,-1.410253,-1.772078,-0.305775,-0.305759,-0.658681,-1.473959
21611,-0.522528,0.291916,-0.227505,-0.841221,0.500221,-0.305775,-0.305759,-0.658681,-0.398737
21612,-1.154047,-0.558836,-0.927928,-1.410253,-1.772078,-0.305775,-0.305759,-0.658681,-1.473959

# Separation en donnÃ©es d'entrainement et de test

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .8)

In [70]:
X_train

,sqft_living,grade,sqft_above,sqft_living15,bathrooms,quartier,view,sqft_basement,bedrooms
5268,-0.555193,-0.558836,-0.867546,-0.315962,-1.447464,-0.305775,-0.305759,0.471097,-0.398737
16909,-0.326539,0.291916,-0.698479,0.471927,0.500221,3.270374,-0.305759,0.629266,-0.398737
16123,-1.077829,0.291916,-0.843394,-0.403505,-0.798235,-0.305775,-0.305759,-0.658681,-0.398737
12181,0.141657,0.291916,0.509146,-0.024151,0.500221,-0.305775,-0.305759,-0.658681,0.676485
12617,-0.304762,-0.558836,-0.662250,-0.286781,0.500221,-0.305775,-0.305759,0.606670,-0.398737
...,...,...,...,...,...,...,...,...,...
13123,2.047104,1.993418,2.622489,0.369794,3.746361,-0.305775,-0.305759,-0.658681,1.751707
19648,-0.740293,0.291916,-0.758860,-1.351890,0.500221,-0.305775,-0.305759,-0.116388,-1.473959
9845,0.304981,1.142667,0.690290,1.070140,0.175607,-0.305775,-0.305759,-0.658681,-0.398737
10799,0.315869,0.291916,0.702366,0.180117,-0.149007,-0.305775,-0.305759,-0.658681,0.676485
2732,0.326757,-0.558836,-0.299963,0.355203,0.175607,-0.305775,-0.305759,1.239346,0.676485

# Export en csv

In [71]:
X_train.to_csv('csv/X_train.csv')
X_test.to_csv('csv/X_test.csv')
y_train.to_csv('csv/y_train.csv')
y_test.to_csv('csv/y_test.csv')